---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/blog/Header.astro";
import Footer from "../components/blog/Footer.astro";
import "../styles/base.css";
import "../styles/blog.css";

const {
  title,
  description,
  canonicalUrl,
  ogImage,
  ogType,
  noindex,
} = Astro.props;
---

<BaseLayout
  title={title}
  description={description}
  canonicalUrl={canonicalUrl}
  ogImage={ogImage}
  ogType={ogType}
  noindex={noindex}
>
  <slot name="head" slot="head" />
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
